{% extends 'base.html' %}
{% load form_tags %}

{% block title %}Recuperanción de contraseña{% endblock %}
{% block body %}


<div class="row">
<aside class="col-sm-4">
</aside> <!-- col.// -->
<aside class="col-sm-4">
<h2 class="mt-5" >Recuperación de contraseña</h2>
<div class="card">
<article class="card-body">
<form method="post">
{% csrf_token %}


<p>
    Introduce tu dirección de correo electrónico y te enviaremos un enlace para que recuperes el acceso a tu cuenta:
</p>
<p>
{{ form.email | addclass:"form-control" }}

{% for field in form %}
{% for error in field.errors %}
<p style="color: red">{{ error }}</p>
{% endfor %}
</p>
{% endfor %}

<button class="form-control" type="submit">Enviar enlace de acceso</button>
</form>
<div class="row justify-content-center mt-4">
    <a class="btn btn-primary" href="{% url 'login' %}">Volver al inicio de sesión</a>
</div>
</article>
</div>
</aside>
<aside class="col-sm-4">
</aside> <!-- col.// -->
</div>
{% endblock %}