{% extends 'base.html' %}
{% load form_tags %}
{% block title %}Recuperanción de contraseña{% endblock %}
{% block body %}

<div class="container">
    <div class="row mt-4">
        <aside class="col-sm-4">
        </aside> <!-- col.// -->
        <aside class="col-sm-4">
        <h2>Recuperación de contraseña completo</h2>
        <div class="card">
        <article class="card-body">
        <p>
            Su contraseña a sido cambiada. Ahora diríjase a <a href="{% url 'login' %}">inicio de sesión</a> ahora.
        </p>
        </article>
        </div>
        </aside>
        <aside class="col-sm-4">
        </aside> <!-- col.// -->
    </div>  
</div>
{% endblock %}