{% extends 'base.html' %}
{% block title %}Recuperanción de contraseña{% endblock %}
{% block body %}

<div class="container">
<h1 class="mt-4">Restablecimiento de contraseña enviado</h1>
<p>
  Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.
</p>
<p>
    Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.
</p>

  <a class="btn btn-primary mt-2" href="{% url 'login' %}">Volver al inicio de sesión</a>
</div>
{% endblock %}