{% extends 'base.html' %}
{% load form_tags %}
{% block title %}Recuperanción de contraseña{% endblock %}
{% block body %}

<div class="container">

<div class="row">
    <aside class="col-sm-4">
    </aside> <!-- col.// -->
    <aside class="col-sm-4">
    <h2 class="mt-4">Cambiar contraseña</h2>
    <div class="card">
    {% if validlink %}
    <article class="card-body">
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
    {{ field.label_tag }}<br>
    {{ field | addclass:"form-control" }}
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor %}
    <button class="form-control" type="submit">Cambiar mi contraseña</button>
    </form>
    </article>
    {% else %}
    <article class="card-body">
    <p>
    El link para reestablecer su contraseña es inválido, posiblemente ya ha sido utilizado.
    Por favor, solicite un nuevo restablecimiento de la contraseña.
    </p>
    </article>

    <div class="row justify-content-center mt-4">
        <a class="btn btn-primary mb-1" href="{% url 'password_reset' %}">Restablecer la contraseña</a>
        <a class="btn btn-primary" href="{% url 'login' %}">Volver al inicio de sesión</a>
    </div>
    {% endif %}
    </div>
    </aside>
    <aside class="col-sm-4">
    </aside> <!-- col.// -->
    </div>

</div>
{% endblock %}